body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding: 0 10rem;
  overflow-y: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: rgb(33, 37, 41);
  position: fixed;
  color: white;
  bottom: 0;
}

.footer_text {
  margin-bottom: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-guest_container{
  width: 80%;
}

.home-guest-navigation_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 2rem;
}

.home-guest_info,
.home-user_info {
  padding: 1rem;
  flex: 1;
  max-width: 50%;
  height: 350px;
  border: 0.2rem solid #212529;
  border-radius: 8px;
}