.user-details_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.info_container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.user-info_container {
  flex: 1;
  margin-bottom: 1rem;
  height: fit-content;
  margin-top: 1rem;
}

.home-address-info_container,
.delivery-address-info_container {
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex: 1;
}

.control-card-role {
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
  background-color: #f3f3f3;
}

.control-card-role_include {
  background-color: rgb(187, 212, 184);
}

.user-filter {
  background-color: #f3f3f3;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  width: 80%;
  margin: auto;
  .formControl_container {
    flex: 0.5;
  }
}

.dynamicTable-users_container {
  width: 80%;
  margin: auto;
}

.user-filter_dropdown-container {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.user-filter_datepicker-container {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.user-filter_buttons-container {
  display: flex;
  align-items: center;

  .btn {
    margin-top: 10px;
  }
}

.button-add-address {
  margin-top: 1rem;
}


.address-modal {
  .formControl_container {
    display: flex;
  }

  .modal-dialog {
    max-width: fit-content;
  }
  
  .modal-body {
    .formControl_container {
      min-width: 30rem;
      max-height: 30rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      flex-direction: column;
    }
  
    .form-group {
      min-width: 30rem;
    }
  }
}