form input {
  min-width: 300px;
  margin: 10px 0;
}

.prospectorder-form {
  margin-bottom: 50px;
  border: 1rem solid rgb(33, 37, 41);
  border-radius: 1rem;
  padding: 2rem 4rem;
  margin: auto 15%;
}

.prospectorder-checkprice_container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.prospectorder-checkPrice_label {
  padding-left: 1rem;
  padding-right: 1rem;
}

.prospectorder-checkPrice_result {
  margin-bottom: 0;
  margin-left: 1rem;
  width: 200px;
}

.prospectorder-details {
  margin-bottom: 1rem;
}

.prospectorder-contact-details {
  margin-top: 2rem;
}

.order_container {
  margin: auto 15%;
}

.order-companyValidatior_checkbox .form-check-input {
  min-width: 1rem;
  width: 5rem;
  height: 2rem;
}

.order-companyValidatior_checkbox :checked {
  background-color: black;
  border-color: black;
}

.order-details-info_container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 60%;
  margin: 2rem auto;
  justify-content: center;
}

.order-details-general-info_container,
.order-details-recipe-info_container {
  flex: 1;
  height: fit-content;
}

.order-status-changes_container {
  margin-top: 1rem;
}

.order-status-changes_list {
  display: flex;
  margin: auto;
  margin-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.order-status-changes_item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.order-status-changes_info :last-child {
  margin: 0;
}

.order-status-changes_list :last-child .order-status-changes_info {
  background-color: rgb(187, 212, 184);
}

.order-filter {
  background-color: #f3f3f3;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  .formControl_container {
    flex: 0.5;
  }
}

.order-filter_dropdown-container {
  display: flex;
}

.order-filter_datepicker-container {
  display: flex;
  gap: 1rem;
}

.order-filter_buttons-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.prospect-order-filter {
  background-color: #f3f3f3;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  width: 80%;
}

.prospect-order-filter_dropdown-container {
  display: flex;
  flex: 1;
  gap: 1rem;
}

.prospect-order-filter_datepicker-container {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.prospect-order-filter_buttons-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.recipe-table-selection_item {
  padding: 1rem;
  width: 25rem;
  border: 0.5rem solid #cfcfcf;
  border-radius: 1rem;
  margin: auto;
  position: fixed;
  left: 2rem;
  top: 5rem;
}
