
form input {
    min-width: 300px;
    margin: 10px 0;
  }
  
.background-details{
    z-index: -1000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
  
.background-details img{
  height: 40rem;
}
  
.background-details_left-image{
    width: fit-content;
    height: fit-content;
}
  
.background-details_right-image{
    width: fit-content;
    height: fit-content;
}


.prospectorder-form {
  margin-bottom: 50px;
  border: 1rem solid rgb(33, 37, 41);
  border-radius: 1rem;
  padding: 2rem 4rem;
  margin: auto 15%;
}

.prospectorder-checkprice_container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.prospectorder-checkPrice_label{
    padding-left: 1rem;
    padding-right: 1rem;
}

.prospectorder-checkPrice_result{
    margin-bottom: 0;
    margin-left: 1rem;
    width: 200px;
}

.prospectorder-details{
    margin-bottom: 1rem;
}

.prospectorder-contact-details{
    margin-top: 2rem;
}

.order_container{
    margin: auto 15%;
}

.order-steps {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.order-steps_dots{
    margin: 0 0.5rem;
}

.order-steps_buttons{
    margin-top: 2rem;
}

.order-companyValidatior_checkbox .form-check-input {
    min-width: 1rem;
    width: 5rem;
    height: 2rem;
  }