.form-switch{
    margin: 1rem 0 ;

    .form-check-input{
        margin-right: 1rem;
        min-width: auto;
        width: 4rem;
        height: 1.3rem;
    }
    
    .form-check-input:checked{
        background-color: grey;
        border-color: grey;
    }
}

.menu-steps__container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    flex-direction: column;
}

.menu-steps_dots{
    margin: 0 0.5rem;
}

.menu-steps__dots{
    display: flex;
    justify-content: center;
}

.menu-steps_buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}


.background-details{
    z-index: -1000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
  
.background-details img{
  height: 40rem;
}
  
.background-details_left-image{
    width: fit-content;
    height: fit-content;
}
  
.background-details_right-image{
    width: fit-content;
    height: fit-content;
}

.form-dropdown{
    margin-bottom: 1rem;
}

.dynamicTable_table{
    border: 0.1rem solid;
    width: 100%;
}

.modal-single-input_container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.modal-single-input_buttons-container{
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.dynamicTable_row{
    cursor: pointer;
}